/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05-Jul-2024, 9:02:51 pm
    Author     : edwin
*/

/* adminHomePage.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.card-link {
    text-decoration: none;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
    color: #6c757d;
}
