/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03-Jul-2024, 12:20:18 pm
    Author     : edwin
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* To remove the underline from the link */
    display: inline-block; /* To ensure the button styling applies to the link */
    text-align: center; /* To ensure the text is centered in the link */
}

.login-btn {
    background-color: #4CAF50;
    color: white;
}

.register-btn {
    background-color: #008CBA;
    color: white;
}

.login-btn:hover {
    background-color: #45a049;
}

.register-btn:hover {
    background-color: #007bb5;
}

